
%table.table.table-hover
  %thead

  %tbody
    -#-@item.images.each do |image|
    -#  %tr
    -#    %td= image._id
    -#    %td= image_tag image.url, class: 'img-rounded'
    -#    %td= image.status
    = link_to 'Previous', prev_item_path(@item,  params: params), class:'btn btn-primary'
    = link_to 'Next', next_item_path(@item, params: params), class: 'btn btn-primary'

    .form-container
      .page-header
      .form-elements
        = simple_form_for @item, method: :put do |f|
          %h3= @item.title.to_s.remove /[\[\]\"\"]/
          .text-danger
            %strong Status:
            =@item.status
          .text-info
            %strong Category:
            = @item.category.to_s.remove /[\[\]\"\"]/
          .text-info
            %strong Tag:
            = @item.tags.to_s.remove /[\[\]\"\"]/
          .text-info
            %strong Description:
            =@item.description.to_s.remove /[\[\]\"\"]/
          - @item.images.each do |i|
            = field_set_tag i._id do
              = f.simple_fields_for 'images_attributes[]', i do |fi|
                =image_tag i.url, class: 'img-rounded item_img'
                = f.hidden_field :category, value: @item.category
                = f.hidden_field :status, value: @item.status
                = fi.collection_radio_buttons :status, [[1, 'Ok'], [2, 'Archive'], [3,'Delete']], :first, :last do |b|
                  = b.label { b.radio_button + b.text }
          = f.submit 'Save', class: 'btn btn-success', params: {category: @category}
          = link_to 'Delete', @item, method: :delete , data: { confirm: 'Are u sure?'},  class: 'btn btn-danger'


-#form_for @user do |f|
-#  f.collection_radio_buttons :rating, [[1, 'Bad'] ,[2, 'Ok'], [3, 'Great']],
-#  :first, :last, { item_wrapper_tag: false } do |b|
-#  b.radio_button + b.label(:class => "collection_radio_buttons icon-star")
-#  end
-#end
