
%table.table.table-hover
  %thead

  %tbody
    -#-@item.images.each do |image|
    -#  %tr
    -#    %td= image._id
    -#    %td= image_tag image.url, class: 'img-rounded'
    -#    %td= image.status
    = link_to 'Previous', prev_item_path(@item,  params: params)
    = link_to 'Next', next_item_path(@item, params: params)

    .form-container
      .page-header
        %h3 Image
      .form-elements
        = simple_form_for @item, method: :put do |f|
          %h3= @item.title.to_s.remove /[\[\]\"\"]/
          = @item.category
          = @item.tags
          = @item.description
          - @item.images.each do |i|
            = field_set_tag i._id do
              = f.simple_fields_for 'images_attributes[]', i do |fi|
                =image_tag i.url, class: 'img-rounded'
                = fi.collection_radio_buttons :status, [[1, 'Ok'], [2, 'Archive'], [3,'Delete']], :first, :last do |b|
                  = b.label { b.radio_button + b.text }
          = f.submit 'Save', class: 'btn btn-success'
          = link_to 'Delete', @item, method: :delete , data: { confirm: 'Are u sure?'},  class: 'btn btn-danger'


-#form_for @user do |f|
-#  f.collection_radio_buttons :rating, [[1, 'Bad'] ,[2, 'Ok'], [3, 'Great']],
-#  :first, :last, { item_wrapper_tag: false } do |b|
-#  b.radio_button + b.label(:class => "collection_radio_buttons icon-star")
-#  end
-#end