
.panel.panel-default
  .panel-heading
    %h3.panel-title
      =@category

    =link_to "All", items_path(params: {category: params[:category]}), class: 'btn btn-primary'
    =link_to "checked", items_path(params: {status: 'checked', category: params[:category]}), class: 'btn btn-success'
    =link_to "unchecked", items_path(params: {status: 'unchecked', category: params[:category]}), class: 'btn btn-warning'
    .col-lg-1
      =paginate @items
  .panel-body
    %table.table.table-hover
      %thead
        %th Title
        %th No of images
        %th Status

      %tbody
        - @items.each do |item|
          %tr
            %td= item.title.to_s.remove /[\[\]\"\"]/
            %td= item.images.count
            %td= render_status item
            %td= link_to 'Show', item
            %td= link_to 'Edit', edit_item_path(item, params: {status: params[:status], category: params[:category]})
            %td= link_to 'Delete', item, method: :delete, data: {confirm: "sure?"}

  .panel-footer



