<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.haml</p>


.panel.panel-default
  .panel-heading
    %h3.panel-title Items list

  .panel-body
    %table.table.table-hover
      %thead
        %th
      %tbody
        - @items.each do |item|
          %tr
            %td= item.title
            %td= item.status
            %td= link_to 'Show', item
            %td= link_to 'Edit', edit_item_path(item)
            %td= link_to 'Delete', item, method: :delete, data: {confirm: "sure?"}

  .panel-footer



